
# root wharf
/*.ipr
/*.iws
/*.iml
/.gradle
/build
/buildSrc/.gradle
/buildSrc/build
/out

# layout-mapper
/layout-mapper/build
/layout-mapper/*.iml
/layout-mapper/out

# wharf-repository
/wharf-repository/build
/wharf-repository/*.iml
/wharf-repository/out

# wharf-core
/wharf-resolver/build
/wharf-resolver/*.iml
/wharf-resolver/out
